* {
  font-family: 'Montserrat', sans-serif;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}
body{
  background-color: #000;
}
html {
  /* font-size: 62.5%; */
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}

a {
  text-decoration: none;
  color: rgb(81, 42, 16);
}

a:hover {
  text-decoration: none;
  color: rgb(122, 49, 0);
}

.about .icons .bi {
  font-size: 4.8rem;
}

/* 导航 */
.bg-dark {
  background-color: #000000 !important;
}

.navbar-dark .navbar-toggler{
  border: none;
}
.navbar{
  padding: 1rem 0;
}
nav.active{
  background-color: #000;
  padding: 0;
}
.navbar-toggler i{
  color: #eee;
}
.collapsed .bi-list{
  display: block;
}
.bi-list{
  display: none;
}
.collapsed .bi-x{
  display: none;
}
nav i:hover{
  transform: rotateZ(180deg);
}
/* 焦点图模块 */
.home {  
  background: url(../images/LOLlogo01.jpg) top center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 40rem;
}

.home .jumbotron {

  color: #fff;
  overflow: hidden;
  padding: 10rem 0;
  background-color: transparent;
}
.home .jumbotron h1{
  font-size: 3.6rem;
}
.home .jumbotron p{
  font-size: 2rem;
}
.home .jumbotron .btn{
  
}
/* 关于模块 */
.about .container {
  padding: 3rem 0;
  color: #eee;
}

@media screen and (max-width:740px) {
  .about .img-fluid {
    display: none;
  }
}

.about .container p {
  /* line-height: 3.5rem; */
}

.about .container .btn {
  margin: 2rem 0;
}

.about .icon-box .icons {
  background-color: #eee;
  padding: 2.5rem 0 0.5rem;
}

/* 菜单模块 */
.menu{
  background-color: #4fbbe625;
}
.menu .card {
  background-color: transparent;
  padding: 3rem 2rem;
  border: none;
  color: #eee;
}

.menu .card img {
  height: 15rem;
  margin: 0 auto;
  border-radius: 50%;
}

.menu .card:hover {
  background: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  transform: translateY(-1rem);
}

/* 相册模块 */
#gallery .card {
  position: relative;
  padding: 0;
  margin: 0 0 1.5rem 0;
  border: none;
  height: 25rem;
  overflow: hidden;
}

#gallery .card img {
  height: 100%;
}

#gallery .card:hover img {
  transform: translateY(-100%);
}

#gallery .card .card-body {
  position: absolute;
  top: 0;
  left: 0;
  border: 0.1rem solid #512a10;
  text-align: center;
  line-height: 2.8rem;
  padding: 3rem 2rem;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  
}

#gallery .card:hover .card-body {
  transform: translateY(0);
}
/* 新闻模块 */
.newsletter{
  background-image: url(../images/gundong03.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  color:#fff;
  padding: 2rem 0 4rem 0;
}
.newsletter h3{
  font-size: 4rem;
  text-transform: uppercase;
}
.newsletter .input-group-btn{
  background-color: #fff;
}
.newsletter .form-control,.newsletter .btn{
  height: 6rem;
}
@media (max-width: 991px) {
  html {
    /* font-size: 55%; */
    
  }
}
/* 页脚模块 */
footer{
  padding: 2rem 0 4rem 0;
}
footer  i{
  height: 4rem;
  width: 4rem;
  padding-top: 1.4rem;
  border: 0.1rem solid #512a10;
  /* font-size: 2rem; */
  color: #512a10;

}
@media screen {
  
}
@media (max-width: 1000px) {
  .home .jumbotron {
    text-align: center;
  }
  .navbar{
    background-color: #000;
    padding: 0;
  }
}

@media (max-width: 450px) {
  html {
    /* font-size: 50%; */
  }
  .navbar{
    background-color: #000;
    padding: 0;
  }
}